.movie-card-item {
	background-color: var(--color-secondary);
	cursor: pointer;
	transition: all 0.3s;
}

.movie-card-item:hover {
	transform: scale(1.1);
	transition: all 0.3s;
}

.movie-card-header {
	height: 300px;
}

.movie-card-header img {
	width: 100%;
	height: 100%;
}

.movie-card-footer {
	padding: 0.2rem;
}

.movie-card-info {
	color: white;
}

.movie-card-info h4 {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
