.movie-list {
	margin: 0.5rem 0;
}

.movie-list h2 {
	color: white;
	margin-bottom: 0.5rem;
	font-weight: 400;
}

.movie-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 15px;
}
