.movie-list {
	margin: 2.5rem 0;
}

.movie-list h2 {
	color: var(--color-secondary-font);
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.movie-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 15px;
}
