:root {
	--color-primary: rgb(4 83 125);
	--color-secondary: rgb(27, 23, 44);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
	background-color: var(--color-primary);
}

a {
	text-decoration: none;
}
